@keyframes error-shake {
	0% { transform: translateX(5px); }
	10% { transform: translateX(-10px); }
	20% { transform: translateX(15px); }
	30% { transform: translateX(-15px); }
	40% { transform: translateX(12px); }
	50% { transform: translateX(-12px); }
	60% { transform: translateX(9px); }
	70% { transform: translateX(-9px); }
	80% { transform: translateX(6px); }
	90% { transform: translateX(-3px); }
	100% { transform: translateX(0); }
}

@keyframes heart-beat {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.25);
	}
	100% {
		transform: scale(1);
	}
}
