$c-primary: #ffa100;
$c-primary-dark: #d88a04;

$c-secondary: #52CBD9;

$c-danger: #ff6b6a;

$c-dark: #46506A;
$c-bright: #FFFFFF;
$c-bright-transparent-half: rgba(255, 255, 255, 0.5);
$c-dark-transparent-half: rgba(70, 80, 106, 0.5);

$c-gray-darker: #333333;
$c-gray-dark: #666666;
$c-gray: #999999;
$c-gray-light: #CCCCCC;
$c-gray-lighter: #F4F4F4;

$c-background: #FFF8E6;
$c-background-dark: #FEEFC4;

$c-post-red: #fbe2e2;
$c-post-green: #d8ecd8;
$c-post-blue: #dee8f1;

$c-overlay: rgba(0,0,0,0.3);

$c-link: #336fff;
