.menu-bar {
	&__title {
		font-size: 16px;
	}
	&__user-name {
		font-size: 12px;
		color: var(--c-gray);
	}
	&__tool {
		font-size: 16px;
		padding: $spacing-1;
	}

	// mobile
	@media (max-width: $breakpoint-md) {
		&__user-name {
			display: none;
		}
		&__avatar-list {
			display: none;
		}
	}
	// desktop
	@media (min-width: $breakpoint-md + 1) {
		&__avatar {
			display: none;
		}
	}
}
