.menu-bar {
	&__title {
		font-size: 16px;
		overflow: hidden;
	}
	&__user-name {
		font-size: 12px;
		color: var(--c-gray);
	}
	&__tool {
		font-size: 16px;
		padding: $spacing-1;
		border-radius: 50%;
		&:hover {
			background-color: var(--c-elevate-5);
		}
		&:active {
			background-color: var(--c-elevate-10);
		}
	}
	&__tool-icon {
		&--light-mode {
			display: none;
		}
		.dark-mode &--light-mode {
			display: inline;
		}
		.dark-mode &--dark-mode {
			display: none;
		}
	}

	// mobile
	@media (max-width: $breakpoint-md) {
		&__user-name {
			display: none;
		}
		&__avatar-list {
			display: none;
		}
	}
	// desktop
	@media (min-width: $breakpoint-md + 1) {
		&__avatar {
			display: none;
		}
	}
}
