.post-comment {
	@include editable-post-content;
	&__content {
		@extend %markdown-content;
		background-color: var(--c-elevate-5);
		border-radius: $border-r-lg;
		padding: $padding-post-textarea;
		.post--colored & {
			background-color: var(--c-degrade-50);
		}
		img {
			cursor: pointer;
		}
	}
	&__textarea {
		border-radius: $border-r-lg;
	}
	&__post-time {
		font-size: 12px;
		color: var(--c-gray);
	}
	&__options {
		visibility: hidden;
		margin-top: $spacing-1;
		padding: $spacing-1 0 $spacing-1 $spacing-1;
	}
	&:hover &__options, &__options.options-dropdown--open {
		visibility: visible;
	}
}
