.post {
	@include editable-post-content;
	background-color: var(--c-surface-1);
	border-radius: $border-r-md;
	box-shadow: 3px 3px 0 var(--c-shadow-2);
	cursor: pointer;
	transition: $transition-post-background-color;
	transform-origin: top center;
	&:hover {
		box-shadow: 3px 3px 0 var(--c-shadow-5);
	}
	&--red {
		background-color: var(--c-surface-red);
	}
	&--green {
		background-color: var(--c-surface-green);
	}
	&--blue {
		background-color: var(--c-surface-blue);
	}
	&--editing {
		cursor: initial;
	}
	&--deleting {
		opacity: 0.5;
		transition: .3s ease-out;
		transform: scale(0);
	}
	&--modal-mode {
		$scrollbar-size: 5px;
		@include custom-scrollbar($scrollbar-size);
		cursor: initial;
		position: fixed;
		top: $spacing-9;
		width: calc(100% - #{ $spacing-4 });
		max-width: 500px;
		max-height: calc(100% - #{ $spacing-9 } * 2);
		z-index: $z-index-post-modal-mode;
		overflow-y: auto;
		// border space for scrollbar
		border: $spacing-2 solid transparent;
		padding:
			$spacing-1 // space for tool options
			$spacing-1
			0
			calc(#{ $spacing-1 } + #{ $scrollbar-size });
		&, &:hover {
			box-shadow: $shadow-modal;
		}
	}
	&--modal-mode &__handle,
	&--modal-mode &__pin {
		display: none;
	}
	&--modal-mode &__content img {
		cursor: pointer;
	}
	&--on-transition {
		@extend %hide-scrollbar;
		position: fixed;
		z-index: $z-index-post-modal-mode;
		transform-origin: 0 0;
		transition:
			transform $transition-duration-post-modal-mode ease-out,
			opacity $transition-duration-post-modal-mode ease-out;
	}
	&--ghost {
		opacity: 0.4;
		* {
			visibility: hidden;
		}
	}
	&__handle {
		@extend %tool;
		@extend %grabbable;
		padding: 0 $spacing-1;
		// mobile
		@media (max-width: $breakpoint-md) {
			// disable sort on mobile until sortable is supported
			visibility: hidden;
		}
	}
	&--editing &__handle {
		visibility: hidden;
	}
	&__pin {
		color: var(--c-danger);
		// custom padding
		padding: 5px 2px 0 6px;
		i {
			transform: rotate(-75deg);
		}
	}
	&--pinned .icon-pin {
		color: var(--c-danger);
	}
	&__content {
		@extend %markdown-content;
	}
	&__footer {
		font-size: 0.7rem;
	}
	&__poster {
		@extend %text-ellipsis;
		color: var(--c-gray-strong);
	}
	&__post-time, &__comment-count {
		@extend %text-ellipsis;
	}
	&__options {
		@extend %tool;
		font-size: 18px;
		// custom padding
		padding: 6px 3px;
	}
	&--editing &__options {
		visibility: hidden;
	}
	&__btn-like {
		i {
			font-size: 16px;
			color: var(--c-surface-1);
			opacity: 0.8;
			text-shadow: 0 0 1px var(--c-on-surface), 0 0 1px var(--c-on-surface), 0 0 1px var(--c-on-surface), 0 0 1px var(--c-on-surface);
		}
		&--liked {
			i {
				color: var(--c-danger);
				opacity: 1;
				text-shadow: none;
			}
		}
	}
	&__edited-hint {
		color: var(--c-gray);
		font-size: 12px;
		display: inline-block;
		margin-left: 5px;
	}

	// guest mode style
	&--guest &__btn-like {
		cursor: default;
	}
	&--guest &__options,
	&--guest &__handle {
		visibility: hidden;
	}
}
.icon-pin {
	transform: rotate(-75deg);
}
.icon-color {
	display: block;
	height: 1em;
	width: 1em;
	border: 1px solid var(--c-elevate-20);
	border-radius: 50%;
	&--white {
		background-color: var(--c-surface-1);
	}
	&--red {
		background-color: var(--c-surface-red);
	}
	&--green {
		background-color: var(--c-surface-green);
	}
	&--blue {
		background-color: var(--c-surface-blue);
	}
}
.post-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: $z-index-post-modal-overlay;
	background-color: var(--c-overlay);
	opacity: 0;
	visibility: hidden;
	transition: $transition-modal-overlay-hide;
	&--show {
		opacity: 1;
		visibility: visible;
		transition: $transition-modal-overlay-show;
	}
}
