.post-form {
	&__input {
		@extend .input-block;
		border-radius: 30px;
		background-color: var(--c-degrade-60);
		max-height: 150px;
		&:hover,
		&:focus {
			border-color: var(--c-primary);
		}
		&::-webkit-scrollbar {
			width: 0;
		}
	}
	&__tool {
		font-size: 20px;
		// custom padding-y to make tool same height as input
		padding: 13px $spacing-1;
		color: var(--c-gray-strong);
		transform-origin: center center;
		&:hover {
			color: var(--c-gray-stronger);
		}
		&:active {
			transform: scale(0.9);
		}
	}
	&__icon-loading {
		font-size: 1.4rem;
		line-height: 1;
		height: 1.4rem;
		color: var(--c-gray-weak);
	}
}
