%tool-group {
	font-size: 20px;
	// custom padding
	padding: 8px 5px;
}
.group {
	position: relative;
	background-color: var(--c-elevate-3);
	margin-right: 2px;
	width: $w-group;
	transform-origin: top left;
	&--deleting {
		opacity: 0.5;
		transition: .5s ease-out;
		transform: scale(0);
	}
	&__header {
		font-size: 12px;
		background-color: var(--c-elevate-2);
	}
	&--draggable &__header {
		@extend %grabbable;
	}
	&__title {
		font-size: 16px;
	}
	&__post-list {}
	&__options {
		@extend %tool;
		@extend %tool-group;
	}
	&__handle {
		@extend %tool;
		@extend %tool-group;
		@extend %grabbable;
		@media (max-width: $breakpoint-md) {
			// disable sort on mobile until sortable is supported
			visibility: hidden;
		}
	}
	&__post-form-area {
		padding: $spacing-2;
		background-color: var(--c-elevate-3);
	}
	&__btn-post {
		@extend .btn;
		@extend .btn--primary;
		position: absolute;
		bottom: $spacing-3;
		right: $spacing-3;
		font-size: 24px;
		width: 50px;
		height: 50px;
		padding: 0;
		border-radius: 50%;
		box-shadow: 0 3px 5px 0 var(--c-shadow-30);
		visibility: hidden;
	}
	&:hover &__btn-post {
		visibility: visible;
	}
	// guest mode style
	&--guest &__options,
	&--guest &__handle {
		visibility: hidden;
	}

	// mobile portrait
	@media (max-width: $breakpoint-sm) {
		&__btn-post {
			visibility: visible;
		}
	}
}
