.card {
	background-color: var(--c-surface-1);
	padding: $spacing-8;
	border-radius: $border-r-lg;
	box-shadow: 0 10px 20px 2px var(--c-shadow-10);
	width: 100%;
	max-width: $w-block-md;
	margin: 0 auto;
}
