$shrink-sm: 6px;
$shrink-md: 10px;
$shrink-lg: 15px;
.avatar-list {
	display: flex;
	align-items: center;
	&--sm {
		padding-left: $shrink-sm;
	}
	&--md {
		padding-left: $shrink-md;
	}
	&--lg {
		padding-left: $shrink-lg;
	}
	&__list {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}
	&__avatar {
		box-sizing: content-box;
		border-style: solid;
	}
	&__more {
		cursor: default;
	}
}
.avatar-list .avatar {
	&--sm {
		margin-left: -$shrink-sm;
		border-width: 2px;
	}
	&--md {
		margin-left: -$shrink-md;
		border-width: 4px;
	}
	&--lg {
		margin-left: -$shrink-lg;
		border-width: 6px;
	}
}

.menu-bar .avatar-list .avatar {
	border-color: $c-background;
	&--inactive {
		transform-origin: bottom center;
		transform: scale(0.95);
	}
}
.post {
	.avatar-list .avatar {
		border-color: $c-bright;
	}
	&--red .avatar-list .avatar {
		border-color: $c-post-red;
	}
	&--green .avatar-list .avatar {
		border-color: $c-post-green;
	}
	&--blue .avatar-list .avatar {
		border-color: $c-post-blue;
	}
}

// Vue List Transitions
.avatar-list {
	&-enter-active, &-leave-active {
		will-change: transform, opacity;
		transition-property: transform, opacity;
		transition-duration: .3s;
	}
	&-enter, &-leave-to {
		opacity: 0;
		transform: translateY(75%);
	}
	&__avatar {
		//  transform makes a new z-index layer,
		//  all avatar should be one layer
		position: relative;
	}
}
