.options-dropdown {
	display: inline-block;
	cursor: pointer;
	&--open {
		color: $c-gray-darker !important;
		visibility: visible !important;
	}
	&__container {
		position: relative;
	}
	&__toggle {
		cursor: pointer;
	}
	&__dropdown {
		position: absolute;
		z-index: 50;
		display: flex;
		cursor: default;
		visibility: hidden;
		transition: visibility 0s;
	}
	&--open &__dropdown {
		visibility: visible;
	}

	&__option {
		position: relative;
		cursor: pointer;
		color: $c-gray-dark;
		background-color: $c-bright;
		font-size: 20px;
		width: 36px;
		height: 36px;
		text-align: center;
		border-radius: 50%;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
		margin: $spacing-2 / 2;
		opacity: 0;
		transform-origin: center center;
		transition-property: opacity, top, left, right, bottom;
		transition-timing-function: ease-out;
		&:hover {
			transform: scale(1.1);
			color: $c-gray-darker;
		}
		&:active {
			transform: scale(0.9);
		}
		&--danger:hover {
			color: $c-danger;
		}
		&--disabled {
			cursor: default;
			color: $c-gray-light;
			&:hover, &:active {
				color: $c-gray-light;
				transform: scale(1);
			}
		}
	}
	&--open &__option {
		opacity: 1;
	}
}
