.post-comment-form {
	position: sticky;
	bottom: 0;
	padding-top: $spacing-2;
	background-color: var(--c-surface-1);
	transition: $transition-post-background-color;
	.post--red & {
		background-color: var(--c-surface-red);
	}
	.post--green & {
		background-color: var(--c-surface-green);
	}
	.post--blue & {
		background-color: var(--c-surface-blue);
	}
	&__textarea {
		@extend .input-block;
		padding: $padding-post-textarea;
		border-radius: 20px;
		border-color: var(--c-elevate-10);
		background-color: var(--c-degrade-60);
		&:focus {
			border-color: var(--c-primary);
		}
		.post--colored & {
			border-color: var(--c-surface-1);
		}
	}
}
