.modal-about {
	line-height: 1.6;
	&__creator-photo {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: 4px solid var(--c-elevate-10);
	}
	.la-heart {
		color: var(--c-danger);
	}
	&__link {
		@extend .link;
	}
}
