%tool-group {
	font-size: 20px;
	padding: 8px 5px;
}
.group {
	position: relative;
	background-color: rgba(0, 0, 0, 0.03);
	display: flex;
	flex-direction: column;
	padding-bottom: 6px;
	margin-right: 2px;
	width: $w-group;
	transform-origin: top left;
	&--deleting {
		opacity: 0.5;
		transition: .5s ease-out;
		transform: scale(0);
	}
	&__header {
		font-size: 12px;
		background-color: rgba(0, 0, 0, 0.02);
	}
	&--draggable &__header {
		@extend %grabbable;
	}
	&__title {
		@extend %grow-remain;
		font-size: 16px;
		padding: 6px 0;
	}
	&__post-list {
		@extend %grow-remain;
	}
	&__options {
		@extend %tool;
		@extend %tool-group;
	}
	&__handle {
		@extend %tool;
		@extend %tool-group;
		@extend %grabbable;
	}
	&__post-form-area {
		padding: 10px;
		background-color: #f2ebda;
	}
	&__btn-post {
		@extend .btn;
		@extend .btn--primary;
		position: absolute;
		bottom: 15px;
		right: 15px;
		font-size: 24px;
		padding: 13px;
		border-radius: 50%;
		box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
		visibility: hidden;
	}
	&:hover &__btn-post {
		visibility: visible;
	}
	// guest mode style
	&--guest &__options,
	&--guest &__handle {
		visibility: hidden;
	}
}
