.post-form {
	&__input {
		border-radius: 30px;
		background-color: $c-bright;
		max-height: 150px;
		&:hover,
		&:focus {
			border-color: $c-primary;
		}
		&::-webkit-scrollbar {
			width: 0;
		}
	}
}
