.group-list {
	display: flex;
	flex-wrap: nowrap;
	&__group {
		flex: 0 0 auto;
	}
	&__btn-add {
		width: $w-group;
		flex-shrink: 0;
		border: 2px dashed $c-dark;
		color: $c-dark;
		font-size: 30px;
		opacity: 0.2;
		transition: opacity .1s;
		&:hover {
			opacity: 0.5;
		}
	}
}
