.editable-title {
	* {
		line-height: 1.5;
	}
	&__display {
		display: flex;
		align-items: center;
		* {
			pointer-events: none;
		}
	}
	&--clickable &__display {
		cursor: pointer;
	}
	&__text {
		@extend %text-ellipsis;
	}
	&__icon-edit {
		margin-left: 5px;
		font-size: 0.8em;
		color: $c-gray;
		display: none;
	}
	&__display:hover &__icon-edit {
		display: block;
	}
	&__input {
		display: block;
		width: 100%;
		background-color: transparent;
		border-radius: 0;
		border: 0;
		box-shadow: 0 1px 0 0 $c-gray-light;
		padding: 0;
		font-size: inherit;
	}
	// align
	&--center &__display {
		justify-content: center;
	}
	&--center &__input {
		text-align: center;
	}
	&--right &__display {
		justify-content: flex-end;
	}
	&--right &__input {
		text-align: right;
	}
	// disabled style
	&--disabled &__display {
		cursor: default;
	}
}
