.tooltip {
	position: fixed;
	z-index: $z-index-tooltip;
	transform: translate(-50%, 8px);
	padding: $spacing-1 $spacing-2;
	white-space: nowrap;
	color: var(--c-on-surface-high);
	font-size: 12px;
	text-align: center;
	background-color: var(--c-surface-high);
	border-radius: 5px;
	&:before {
		content: '';
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
		border: 5px solid var(--c-surface-high);
		border-top-color: transparent;
		border-left-color: transparent;
		border-right-color: transparent;
	}
}
