.post-comment-area {
	transition: height $transition-duration-post-modal-mode ease-out;
	height: 0;
	&--open {
		height: initial;
	}
	&__inner {
		border-top: 1px solid $c-gray-light;
		padding: 20px 25px;
		margin-top: 15px;
		opacity: 0;
		transition:
			opacity $transition-duration-post-modal-mode ease-out;
	}
	&--open &__inner {
		opacity: 1;
		transition-delay: $transition-duration-post-modal-mode / 2;
	}
	&__form {
		padding: 10px 0;
		background-color: $c-bright;
		//position: sticky;
		bottom: 0;
		transition: $transition-post-background-color;
		.post--red & {
			background-color: $c-post-red;
		}
		.post--green & {
			background-color: $c-post-green;
		}
		.post--blue & {
			background-color: $c-post-blue;
		}
	}

}
