.autocomplete-input {
	position: relative;
	&__input {
		@extend .input-block;
	}
	&__select {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 1;
		background-color: #FFFFFF;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2);
		margin-top: 2px;
		overflow-y: auto;
	}
	&__option {
		@extend %text-ellipsis;
		position: relative;
		padding: $spacing-2 $spacing-6;
		border-bottom: 1px solid $c-gray-lighter;
		&:last-child {
			border-bottom: none;
		}
		&:hover {
			background-color: $c-background;
		}
		&--focused, &--focused:hover {
			background-color: $c-background-dark;
		}
	}
	&__color {
		position: absolute;
		width: 9px;
		height: 9px;
		top: 50%;
		left: 13px;
		border-radius: 50%;
		transform: translate(0, -50%);
	}
}
