.post-comment-area {
	transition: height $transition-duration-post-modal-mode ease-out;
	height: 0;
	&--open {
		height: initial;
	}
	&__inner {
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		padding-top: 20px;
		margin-top: 10px;
		opacity: 0;
		transition:
			opacity $transition-duration-post-modal-mode ease-out;
	}
	&--open &__inner {
		opacity: 1;
		transition-delay: $transition-duration-post-modal-mode / 2;
	}
	&__title {
		font-weight: $font-weight-bold;
		font-size: 12px;
		margin-bottom: 20px;
	}
	&__comment-list {

	}
	&__form {

	}

	.post-comment {
		transform-origin: left center;
		margin-bottom: 15px;
	}
}

// Vue List Transitions
.comment-list {
	&-enter-active, &-leave-active {
		will-change: transform, opacity;
		transition-property: transform, opacity;
		transition-duration: .3s;
	}
	&-enter {
		opacity: 0;
		transform: translateY(30px);
	}
	&-leave-to {
		opacity: 0;
		transform: scale(0);
	}
}
