.editable-title {
	* {
		line-height: 1.5;
	}

	// display
	$shadow-bottom: 0 1px 0 0 var(--c-gray-weak);
	&__display {
		@extend %text-ellipsis;
	}
	&--clickable &__display {
		cursor: pointer;
	}
	&--clickable:hover &__display {
		box-shadow: $shadow-bottom;
	}

	// input
	&__input {
		display: block;
		width: 100%;
		background-color: transparent;
		border-radius: 0;
		border: 0;
		box-shadow: $shadow-bottom;
		padding: 0;
		font-size: inherit;
	}
	&--auto-width &__input {
		min-width: 200px;
		max-width: 100%;
	}

	// align
	&--center, &--center &__input {
		text-align: center;
	}
	&--right, &--right &__input {
		text-align: right;
	}

	// disabled style
	&--disabled &__display {
		cursor: default;
	}
}
