.post {
	@include editable-post-content;
	background-color: $c-bright;
	border-radius: $border-r-md;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, .02);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	transition: $transition-post-background-color;
	transform-origin: top center;
	&:hover {
		box-shadow: 3px 3px 0 rgba(0, 0, 0, .05);
	}
	&--red {
		background-color: $c-post-red;
	}
	&--green {
		background-color: $c-post-green;
	}
	&--blue {
		background-color: $c-post-blue;
	}
	&--editing {
		cursor: initial;
	}
	&--deleting {
		opacity: 0.5;
		transition: .3s ease-out;
		transform: scale(0);
	}
	&--modal-mode {
		$scrollbar-size: 5px;
		@include custom-scrollbar(rgba(0, 0, 0, 0.2), transparent, $scrollbar-size);
		cursor: initial;
		position: fixed;
		top: 60px;
		width: 80%;
		max-width: 500px;
		max-height: calc(100vh - 120px);
		z-index: $z-index-post-modal-mode;
		overflow-y: scroll;
		// border space for scrollbar
		border: 10px solid transparent;
		padding:
			5px // space for tool options
			5px
			0
			(5px + $scrollbar-size);
		&, &:hover {
			box-shadow: $shadow-modal;
		}
	}
	&--modal-mode &__handle {
		display: none;
	}
	&--on-transition {
		@extend %hide-scrollbar;
		position: fixed;
		z-index: $z-index-post-modal-mode;
		overflow-y: scroll;
		transform-origin: 0 0;
		transition:
			transform $transition-duration-post-modal-mode ease-out,
			opacity $transition-duration-post-modal-mode ease-out;
	}
	&--ghost {
		opacity: 0.5;
		filter: brightness(200);
		* {
			visibility: hidden;
		}
	}
	&__handle {
		@extend %tool;
		@extend %grabbable;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 4px;
	}
	&--editing &__handle {
		visibility: hidden;
	}
	&__content {
		@extend %markdown-content;
	}
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		font-size: 0.7rem;
	}
	&__poster {
		@extend %text-ellipsis;
		color: $c-gray-dark;
	}
	&__post-time, &__comment-count {
		@extend %text-ellipsis;
		margin-top: 5px;
	}
	&__options {
		@extend %tool;
		font-size: 18px;
		padding: 6px 3px;
	}
	&--editing &__options {
		visibility: hidden;
	}
	&__btn-like {
		display: flex;
		align-items: center;
		i {
			font-size: 16px;
			color: $c-bright;
			opacity: 0.8;
			text-shadow: 0 0 1px $c-dark, 0 0 1px $c-dark, 0 0 1px $c-dark, 0 0 1px $c-dark;
		}
		&--liked {
			i {
				color: $c-danger;
				opacity: 1;
				text-shadow: none;
			}
		}
	}
	&__edited-hint {
		color: $c-gray;
		font-size: 12px;
		display: inline-block;
		margin-left: 5px;
	}
	&__content-container {
		position: relative;
	}
	// guest mode style
	&--guest &__btn-like {
		cursor: default;
	}
	&--guest &__options,
	&--guest &__handle {
		visibility: hidden;
	}
}
.icon-color {
	display: block;
	height: 1em;
	width: 1em;
	border: 1px solid $c-gray-light;
	border-radius: 50%;
	&--white {
		background-color: white;
	}
	&--red {
		background-color: $c-post-red;
	}
	&--green {
		background-color: $c-post-green;
	}
	&--blue {
		background-color: $c-post-blue;
	}
}
.post-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: $z-index-post-modal-overlay;
	background-color: $c-overlay;
	opacity: 0;
	visibility: hidden;
	transition: $transition-modal-overlay-hide;
	&--show {
		opacity: 1;
		visibility: visible;
		transition: $transition-modal-overlay-show;
	}
}
