.post-list {
	$scrollbar-size: 5px;
	@include custom-scrollbar(#dcd6c9, transparent, $scrollbar-size);
	display: flex;
	flex-direction: column;
	padding: $spacing-2 7px $spacing-9 (7px + $scrollbar-size);
	margin: 0 $spacing-1;
	min-height: 10px;
	overflow-x: hidden;
	// set scroll instead of auto to always keep scroll space
	overflow-y: scroll;
	.post {
		flex-shrink: 0;
		margin-bottom: $spacing-3;
	}
	// mobile
	@media (max-width: $breakpoint-md) {
		padding-left: $spacing-1;
		padding-right: $spacing-1;
	}
}

// Vue List Transitions
.post-list {
	&-move {
		will-change: transform;
		transition: transform 0.5s;
	}
}
