.autocomplete-input {
	position: relative;
	&__input {
		@extend .input-block;
	}
	&__select {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 1;
		background-color: var(--c-surface-2);
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0 6px 15px 0 var(--c-shadow-20);
		margin-top: 2px;
		overflow-y: auto;
	}
	&__option {
		@extend %text-ellipsis;
		position: relative;
		padding: $spacing-2 $spacing-6;
		border-bottom: 1px solid var(--c-gray-weaker);
		&:last-child {
			border-bottom: none;
		}
		&:hover {
			background-color: var(--c-background);
		}
		&--focused, &--focused:hover {
			background-color: var(--c-primary-transparent-20);
		}
	}
	&__color {
		position: absolute;
		width: 9px;
		height: 9px;
		top: 50%;
		left: 13px;
		border-radius: 50%;
		transform: translate(0, -50%);
	}
}
