.post-comment {
	@include editable-post-content;
	margin-bottom: 15px;
	&__content-container {
		position: relative;
	}
	&__content {
		background-color: rgba(0, 0, 0, 0.05);
		border-radius: $border-r-lg;
		padding: $padding-post-textarea;
		.post--colored & {
			background-color: $c-bright-transparent-half;
		}
	}
	&__textarea {
		border-radius: $border-r-lg;
	}
	&__avatar {
		flex-shrink: 0;
		margin-right: 10px;
	}
	&__post-time {
		margin-top: 5px;
		font-size: 12px;
		color: $c-gray;
	}
	&__options {
		align-self: center;
		visibility: hidden;
		margin-left: 5px;
	}
	&:hover &__options, &__options.options-dropdown--open {
		visibility: visible;
	}
}
