.input-block {
	display: block;
	width: 100%;
	padding: 10px 30px;
	border: 2px solid transparent;
	border-radius: $border-r-md;
	transition-property: color, border, background-color;
	transition-duration: .2s;
	&::placeholder {
		color: rgba(0, 0, 0, 0.2);
	}
}
