.input-block {
	display: block;
	width: 100%;
	padding: $spacing-2 $spacing-6;
	border: 2px solid transparent;
	border-radius: $border-r-md;
	transition-property: color, border, background-color;
	transition-duration: .2s;
	&::placeholder {
		color: var(--c-elevate-20);
	}
}
