.btn {
	border-radius: $border-r-md;
	border: 0;
	background-color: var(--c-gray-strong);
	color: var(--c-surface-1);
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	letter-spacing: 1px;
	padding: $spacing-4 $spacing-7;
	text-transform: uppercase;
	transition: background-color .2s;
	user-select: none;
	&:active {
		background-color: var(--c-gray-stronger);
	}
	&--primary {
		color: var(--c-on-primary);
		background-color: var(--c-primary);
		&:active {
			background-color: var(--c-primary-strong);
		}
	}
	&--default {
		color: var(--c-on-surface);
		border: 1px solid var(--c-gray-weak);
		background-color: var(--c-surface-1);
		&:active {
			background-color: var(--c-gray-weaker);
		}
	}
}
