.btn {
	border-radius: $border-r-md;
	border: 0;
	background-color: $c-gray-dark;
	color: $c-bright;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	letter-spacing: 1px;
	padding: $spacing-4 $spacing-7;
	text-transform: uppercase;
	transition: background-color .2s;
	user-select: none;
	&:active {
		background-color: $c-gray-darker;
	}
	&--primary {
		background-color: $c-primary;
		&:active {
			background-color: $c-primary-dark;
		}
	}
	&--secondary {
		background-color: $c-secondary;
	}
	&--default {
		color: $c-dark;
		border: 1px solid $c-gray-light;
		background-color: $c-bright;
		&:active {
			background-color: $c-gray-lighter;
		}
	}
}
