* {
	box-sizing: border-box;
}

html, body {
	background-color: $c-background;
}

body {
	// https://fonts.google.com/specimen/Montserrat?query=mon&sidebar.open&selection.family=Montserrat:wght@400;700
	font-family: 'Montserrat', sans-serif;
	font-size: $font-size-base;
	letter-spacing: 0.5px;
	margin: 0;
	color: $c-dark;
	overflow: hidden;
}

#app {
	&, & > div {
		height: 100%;
	}
}
