* {
	box-sizing: border-box;
}

html, body {
	background-color: var(--c-background);
}

body {
	// https://fonts.google.com/specimen/Montserrat?query=mon&sidebar.open&selection.family=Montserrat:wght@400;700
	font-family: 'Montserrat', sans-serif;
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-regular);
	letter-spacing: 0.5px;
	margin: 0;
	color: var(--c-on-background);
	overflow: hidden;
}

#app {
	&, & > div {
		height: 100%;
	}
}
