* {
	box-sizing: border-box;
}

html, body {
	background-color: $c-background;
}

body {
	font-family: 'Futura', sans-serif;
	font-size: $font-size-base;
	letter-spacing: 0.5px;
	margin: 0;
	color: $c-dark;
}
