.btn {
	border-radius: $border-r-md;
	border: 0;
	background-color: $c-gray-dark;
	color: $c-bright;
	cursor: pointer;
	display: inline-block;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	padding: 18px 40px;
	text-transform: uppercase;
	transition: .2s;
	user-select: none;
	&:active {
		background-color: $c-gray-darker;
	}
	&--primary {
		background-color: $c-primary;
		&:active {
			background-color: $c-primary-dark;
		}
	}
	&--secondary {
		background-color: $c-secondary;
	}
	&--default {
		color: $c-dark;
		border: 1px solid $c-gray-light;
		background-color: $c-bright;
		&:active {
			background-color: $c-gray-lighter;
		}
	}
}

.hint {
	font-size: 12px;
	color: $c-gray;
}

.absolute-center {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sortable-ghost {
	> * {
		visibility: hidden;
	}
	opacity: .5;
	animation: none !important;
}
.sortable-drag {
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}
.sortable-drag.in-trash-can {
	transform: scale(0.1);
	opacity: 0.5;
}

// https://css-tricks.com/flexbox-truncated-text/
.grow-remain {
	flex-grow: 1;
	min-width: 0;
	min-height: 0;
}
