* {
	box-sizing: border-box;
}

html, body {
	background-color: $c-background;
}

body {
	font-family: 'Futura', sans-serif;
	font-size: $font-size-base;
	letter-spacing: 0.5px;
	margin: 0;
	color: $c-dark;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

input, textarea {
	display: block;
	color: $c-dark;
	width: 100%;
	font-size: $font-size-base;
	padding: 18px 30px;
	background-color: rgba(0, 0, 0, 0.05);
	border: 2px solid transparent;
	border-radius: $border-r-md;
	outline: none;
	transition-property: color, border, background-color;
	transition-duration: .2s;
}

textarea {
	resize: none;
}

label {
	display: block;
	margin: 0;
}

a {
	text-decoration: none !important;
}

button {
	outline: none;
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
}

hr {
	border: 0 solid $c-primary-dark;
	border-top-width: 1px;
	margin: 30px 0;
}
