// HTML basics (Minor styling/resets of anchor links, h1-h6, etc.)
$frow-enable-html-basics:                true;

// Columns/Grid functionality
$frow-enable-columns:                    false;

// Button styling
$frow-enable-buttons:                    false;

// Form elements
$frow-enable-forms:                      false;

// Responsive design rules
$frow-enable-responsive-design-classes:  true;

// Margin/Padding classes (.mb-10, .p-15, .mx-auto)
$frow-enable-box-model-shorcuts:         true;

// Miscellaneous utilities
$frow-enable-utilities:                  true;

// Include built-in Normalize.css
$frow-enable-normalize:                  false;

// Maximum Number of columns to support (.col-md-1-12)
$grid-max-columns: 12;

// Gutter width between columns when using .gutters
$grid-gutter-width: 30px;

// Small screen / tablet (These assume column 1-1)
$sizes-mobile: (xs: 0px, sm: 768px);

// Desktops / laptops
$sizes-desktop: (md: 992px, lg: 1200px);

// Example: You could add an extra extra small breakpoint with:
// $sizes-mobile: (xxs: 0px, xs: 576px, sm: 768px);

// Shadow for light backgrounds
$shadow-light: 0px 1px 3px 0px #A0A0A0;

// Shadow for dark backgrounds
$shadow-dark: 0px 1px 3px 0px #1B1B1B;

// Animation Speed (Mostly form elements)
$animate-speed: 0.4s;

// Fast Animation Speed (Mostly button hover)
$animate-speed-fast: 0.1s;

// Basic grays to use
$gray-lighter: #EAEAEA;
$gray-light: #9E9E9E;
$gray-dark: #888888;
$gray-darker: #4F4F51;

// Off colors
$off-white: #BBB;
$off-black: #333;

// Pure colors
$white: #FFF;
$black: #000;

// Non-white background color
$background-color: #F6F6F6;

// Default text color on body
$text-color: $off-black;

// Default link color
$link-color: $off-black;

// Default link hover/active/focus color
$link-hover-color: darken($link-color, 15%);

// Button text color
$button-text-color: $white;

// Button background color
$button-background-color: $gray-darker;

// Button border color
$button-border-color: $gray-darker;

// Button disabled text color
$button-disabled-text-color: $gray-light;

// Button disabled background/border color
$button-disabled-border-color: $gray-dark;

// Button active click size
$button-active-size: 0.96;

// Form primary color
$form-color-primary: $gray-darker;

// Form light color
$form-color-secondary: $gray-light;

// Form placeholder text color
$form-placeholder-color: $gray-light;

// Form focus size
$form-focus-size: 1.15;

// Checkmark color
$form-checkmark-color: $white;
