%text-ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

%tool {
	cursor: pointer;
	color: $c-gray-light;
	&:hover {
		color: #999999;
	}
}

%handle {
	cursor: grab;
	&:active {
		cursor: grabbing;
	}
}

%board {
	background-color: $c-bright;
	padding: 50px;
	&--float {
		border-radius: $border-r-lg;
		box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.1);
	}
}
