// font
$font-size-base: 16px;

// color
$c-primary: #ffa100;
$c-primary-dark: #d88a04;

$c-secondary: #52CBD9;

$c-danger: #ff6b6a;

$c-dark: #46506A;
$c-bright: #FFFFFF;

$c-gray-darker: #333333;
$c-gray-dark: #666666;
$c-gray: #999999;
$c-gray-light: #CCCCCC;
$c-gray-lighter: #F4F4F4;

$c-background: #FFF8E6;
$c-background-dark: #FEEFC4;

$c-post-red: #fbe2e2;
$c-post-green: #d8ecd8;
$c-post-blue: #dee8f1;

$c-overlay: rgba(0,0,0,0.3);

// border-radius
$border-r-lg: 20px;
$border-r-md: 10px;
$border-r-sm: 5px;

// z-index
$z-index-modal-overlay: 1040;
$z-index-modal: 1050;

// width
$block-lg: 720px;
$block-md: 580px;
$block-sm: 480px;
$w-group: 350px;

// shadow
$shadow-modal: 0 5px 15px rgba(0, 0, 0, 0.3);
