// https://css-tricks.com/almanac/properties/s/scrollbar/
// https://css-tricks.com/custom-scrollbars-in-webkit/
@mixin custom-scrollbar($foreground-color: $c-gray, $background-color: rgba(0, 0, 0, 0.03), $size: 8px) {
	&::-webkit-scrollbar {
		width:  $size;
		height: $size;
	}

	&::-webkit-scrollbar-thumb {
		background: $foreground-color;
		border-radius: 5px;
		&:hover {
			box-shadow: 0 0 0 $size rgba(0, 0, 0, 0.05) inset;
		}
		&:active {
			box-shadow: 0 0 0 $size rgba(0, 0, 0, 0.1) inset;
		}
	}

	&::-webkit-scrollbar-track {
		border-radius: 5px;
		&:horizontal {
			background: linear-gradient(0deg,
				rgba(0,0,0,0) 30%,
				$background-color 30%,
				$background-color 70%,
				rgba(0,0,0,0) 70%
			);
		}
		&:vertical {
			background: linear-gradient(90deg,
				rgba(0,0,0,0) 30%,
				$background-color 30%,
				$background-color 70%,
				rgba(0,0,0,0) 70%
			);
		}
	}

	// others
	&::-webkit-scrollbar-track-piece {
		background: transparent;
	}
	&::-webkit-scrollbar-corner {
		background: transparent;
	}
	&::-webkit-scrollbar-button {
		display: none;
	}

	// For Internet Explorer
	& {
		scrollbar-face-color: $foreground-color;
		scrollbar-track-color: $background-color;
	}
}
