%absolute-center {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

%grabbable {
	cursor: grab;
	&:active {
		cursor: grabbing;
	}
}

%grow-remain {
	// https://css-tricks.com/flexbox-truncated-text/
	flex-grow: 1;
	min-width: 0;
	min-height: 0;
}

%text-ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

%tool {
	color: $c-gray;
	&:hover {
		color: $c-gray-darker;
	}
}
