@mixin editable-post-content() {
	&__textarea {
		@extend .input-block;
		padding: $padding-post-textarea;
		&--saving {
			opacity: 0.6;
		}
		&:focus {
			border-color: var(--c-primary);
		}
	}
	.post--white &__textarea, .post--red &__textarea, .post--green &__textarea, .post--blue &__textarea {
		background-color: var(--c-degrade-50);
	}
}
