%grabbable {
	cursor: grab;
	&:active {
		cursor: grabbing;
	}
}

%text-ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

%tool {
	color: var(--c-gray);
	&:hover {
		color: var(--c-gray-stronger);
	}
}
