%markdown-content {
	p, ul, ol, h1, h2, h3, h4, h5, code {
		margin-top: $spacing-4;
		margin-bottom: $spacing-4;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	blockquote {
		margin: 0;
		padding: $spacing-1 0 $spacing-1 $spacing-2;
		border-left: 4px solid var(--c-elevate-10);
	}
	img {
		.dark-mode & {
			filter: brightness(0.8);
		}
	}
	a[href] {
		@extend .link;
		word-break: break-all;
	}
	code {
		padding: $spacing-2;
		background: var(--c-elevate-5);
		border-radius: $border-r-sm;
		display: block;
	}
}
