%grabbable {
	cursor: grab;
	&:active {
		cursor: grabbing;
	}
}

%text-ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

%tool {
	color: $c-gray;
	&:hover {
		color: $c-gray-darker;
	}
}
