%markdown-content {
	p, ul, ol, h1, h2, h3, h4, h5, code {
		margin-top: $spacing-4;
		margin-bottom: $spacing-4;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	blockquote {
		margin: 0;
		padding: $spacing-1 0 $spacing-1 $spacing-2;
		border-left: 4px solid rgba(70, 80, 106, 0.2);
	}
	img {
		max-width: 100%;
	}
	a[href] {
		color: $c-link;
		text-decoration: none;
		word-break: break-all;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	code {
		padding: $spacing-2;
		background: rgba(0, 0, 0, 0.05);
		border-radius: $border-r-sm;
		display: block;
	}
}
