%markdown-content {
	p, ul, ol, h1, h2, h3, h4, h5, code {
		margin-top: 20px;
		margin-bottom: 20px;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	blockquote {
		margin: 0;
		padding: 6px 0 6px 10px;
		border-left: 4px solid rgba(70, 80, 106, 0.2);
	}
	img {
		max-width: 100%;
	}
	a[href] {
		color: $c-link;
		text-decoration: none;
		word-break: break-all;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}
